- name: ANSIBLE-COLONYLABS@2024
  hosts: worker
  remote_user: worker
  become: yes
  become_method: sudo
  vars:
    ansible_become_pass: "{{ vault_sudo_password }}"
  roles:
    - update
    - dependen
    - nginx
    - docker
    #- corosync-cluster
    #- corosync-client
    #- node_exporter
    #- prometheus
    #- grafana
    #- harbor
    #- k3s-kubernetes
    #- awx-ansible
    #- minio
    # - webmin
    #- jenkins
    #- redis
    #- redis-replica
    #- SUMMARY
